[flake8]
extend-exclude = .venv/
# We only use flake8 for the pydoclint integration and checks that ruff doesn't
# really support yet.
ignore=F,E,W
select=E261,E302,E11,E12,E131,DOC
style=numpy
skip_checking_short_docstrings=False
arg_type_hints_in_signature=False
check-return-types=False
